---
export interface Props {
  date: string;
  location: string;
  title: string;
  company: string;
  list: string[];
}

const { date, location, title, list, company } = Astro.props;
---

<tr class="align-top print:break-inside-avoid">
  <td class="inline-block md:table-cell min-w-[150px]">
    <div class="inline-block md:block pt-px md:mb-2 font-medium text-md">
      {date}
    </div>
    <div class="italic md:text-md">
      {company}
      <span
        class="before:content-['ðŸ“'] md:mt-2 ml-2 inline-block md:block md:ml-0 not-italic"
      >
        {location}
      </span>
    </div>
  </td>
  <td class="inline-block md:table-cell md:pl-4">
    <h3 class="font-medium text-md mb-2">{title}</h3>
    <ul class="list-disc pb-4">
      {list.map((item) => <li class="ml-4">{item}</li>)}
    </ul></td
  >
</tr>
